body {
	font-family: Arial, Helvetica, sans-serif;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: blue;
}

h1, h2, h3 {
	font-family: Century Gothic, sans-serif;
}

table {
	border-collapse: collapse;
}

table td,table th {
	padding: 3px;
	text-align: left;
	vertical-align: top;
}

table th {
	font-weight: bold;
	
}

table.dataTable th,table.dataTable td {
	border: 1px solid #cccccc;
}

table.dataTable th {
	background-color: #f2f5f6;
	background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);
}

span.errors {
	color: red;
}

div.errors {
	color: red;
	padding: 5px 0;
}

.underline {
	border-bottom: 1px solid #cccccc;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clear {
	clear: both;
}

a.button {
	border: 1px solid #a0a0f2;
	border-radius: 3px;
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	display: inline-block;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	font-weight: bold;
	color: #FFFFFF;
	background-color: #d2d2f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d2d2f9),
		to(#a6a6f2));
	background-image: -webkit-linear-gradient(top, #d2d2f9, #a6a6f2);
	background-image: -moz-linear-gradient(top, #d2d2f9, #a6a6f2);
	background-image: -ms-linear-gradient(top, #d2d2f9, #a6a6f2);
	background-image: -o-linear-gradient(top, #d2d2f9, #a6a6f2);
	background-image: linear-gradient(to bottom, #d2d2f9, #a6a6f2);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#d2d2f9, endColorstr=#a6a6f2);
	
}

a.button:hover {
	border: 1px solid #7878ed;
	background-color: #a5a5f3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a5a5f3),
		to(#7a7aeb));
	background-image: -webkit-linear-gradient(top, #a5a5f3, #7a7aeb);
	background-image: -moz-linear-gradient(top, #a5a5f3, #7a7aeb);
	background-image: -ms-linear-gradient(top, #a5a5f3, #7a7aeb);
	background-image: -o-linear-gradient(top, #a5a5f3, #7a7aeb);
	background-image: linear-gradient(to bottom, #a5a5f3, #7a7aeb);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#a5a5f3, endColorstr=#7a7aeb);
}

div.headerLeft {
	float: left;
	width: 50%;
}

div.headerLeft h1 {
	margin-top: 10px;
	padding-top: 0;
}

div.headerRight {
	float: right;
	width: 50%;
	text-align: right;
}

div.header a {
	color: black !important;
}

body.error {
	margin-top: 40px;
	margin-left: 40px;
}

div.errorParagraph , p.errorParagraph {
	width: 500px;
}

div.errorParagraph h1 {
	margin-top:0;
	padding-top:0;
}

div.errorImageDiv {
	padding-right: 40px;
}