.content_container img{
	float: left;
}

.content_container h2{
	float: left;
	margin-left:10px;
	clear:right;
}

.content_container hr {
	width:100%;
	clear:both;
	margin-bottom: 20px;
}

.content-container a{
	clear:both;
}

a#create_customer_button, #create_flight_request_button {
	margin-bottom: 20px;
}

#generic_container {
	margin-top:20px;
}

.datatable tr:nth-child(odd) {
	background: #f0f0f0;
}

#generic_form input, #generic_form span#id_field, #generic_form select, span.field, {
	float:left;
	margin-bottom: 10px;
}

#generic_form label {
	clear:both;
	float:left;
	width:200px;
	font-weight: bold;
}

.generic_form_flight label {
	width:170px !important;
}

#generic_form input[type=submit]{
	clear:both;
	float:left;
	margin-left: 100px;
}


#generic_form a {
	float:left;
	margin-left:10px;
}

.button_style, input[type=submit]{
	border : solid 1px #000;
	border-radius : 1px;
	moz-border-radius : 1px;
	font-size : 11px;
	color : #363636;
	padding : 1px 10px;
	background : #DDD;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DDD), color-stop(51%,#EEE), color-stop(100%,#DDD));
	background : -moz-linear-gradient(top, #DDD 0%, #EEE 51%, #DDD 100%);
	background : -webkit-linear-gradient(top, #DDD 0%, #EEE 51%, #DDD 100%);
	background : -o-linear-gradient(top, #DDD 0%, #EEE 51%, #DDD 100%);
	background : -ms-linear-gradient(top, #DDD 0%, #EEE 51%, #DDD 100%);
	background : linear-gradient(top, #DDD 0%, #EEE 51%, #DDD 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDD', endColorstr='#DDD',GradientType=0 );

}

#generic_button {
		float:left;
		margin-left:10px;
}

#hour_minute {
	float:left;
}

#hour_minute input[type=submit]{
	margin-left: 0;
}

#hour_minute input, #hour_minute select {
	float:left;
}

#hour_minute select {
	clear:both;
}

#generic_form .errors {
	margin-left: 10px;
	float:left;
}

#hour_minute label {
	float: left;
	clear:none;
	width:auto !important;
	margin-left: 10px
}

.float_left {
	float:left;
}

.space {
	height:20px;
}

.small_space {
	height:8px;
}

.small_width {
	width:100px !important;
}

a:link {color: #000000;}
a:active {color: #000000;}
a:visited {color: #000000;}
a:hover {color: #000000;}